.header {
  width: 100vw;
  height: 100vh;
  background: rgb(240, 240, 198);
}

.header > h3 {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  margin-left: 43%;
}
.main_title {
  margin-left: -25px;
  font-size: 3rem;
  color: white;
  text-decoration: none;
  /* Link to 자체에 먹임 */
}
