.footer {
  position: relative;
  background-color: rgba(214, 212, 212, 0.849);
  height: 200px;
  text-align: center;
}
.logoimg {
  width: 259px;
  height: 69px;
  /* position: absolute; */
  top: calc((200px - 69px) / 2);
}
/* .copyright {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
} */
