/* .header {
  width: 100vw;
  height: 100vh;
  background: rgb(240, 240, 198);
}

.header > h3 {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  margin-left: 43%;
}
#main_title {
  color: white;
  font-size: xx-large;
  td-align: center;
}

.mandals {
  width: 100%;
}
#nameOfMandals {
  font-size: large;
  font-weight: bold;
}
.mandals_oneMandal {
  display: inline-block;
}
.mandals_mandalImage {
  display: inline-block;
  border: 1px solid black;
  width: 300px;
  height: 280px;
  td-align: center;
  margin: 15px;
  margin-bottom: 0px;
  padding: 10px;
}
.mandals_mandalName {
  border: 1px solid black;
  width: 300px;
  height: 20px;
  td-align: center;
  margin: 15px;
  margin-top: 0px;
  padding: 10px;
}
.SingleMandalBox {
  display: "inline-block";
} */
