.LoadButton {
  display: inline-block;
  position: absolute;
  width: 140px;
  height: 30px;
  left: 1172px;
  top: 36px;
}

.my_mandalplan,
.friends,
.popular,
.new {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 347px;
  width: 100%;
}

.main_mandal h3 {
  margin-left: 15px;
}
